* {
	scrollbar-color: #CACDFF #4C4AEC;
}

body {
	margin: 0;
	background-color: #0A0D2D;
	background-image: url("/modules/ss2/img/Background_Blue_PC.png");
	background-attachment: fixed;
	/* background-repeat: no-repeat; */
	background-size: 100vw auto;
}

div {
	border: none;
}

/*
 * Generic classes
 */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/* 
 * HEADER / NAV BAR
 */

div.header {
	background-image: 
		url("/modules/ss2/img/Upper_background_bar.png"),
		linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 0) 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	container-type: inline-size;
}

div.imgbox {
	height: 100%;
}

div.imgbox img {
	height: 95%;
	object-fit: cover;
}

div.bignavbox {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

div.bignavbox div {
	flex: 0 0 auto;
	position: relative;
	overflow: visible;
}

div.titlebox {
	height: 47%;
}

div.titlebox h1 {
	margin: 0;
	font-family: 'BoinkLETPlain', sans-serif;
	color: #FFFF00;
	-webkit-text-stroke: 2px #FF000D;
}

div.navbox {
	height: 20%;
}

div.subnavbox {
	height: 43%;
}

@container (max-width: 1024px) {
	div.navbox {
		height: 30%;
	}

	div.subnavbox {
		height: 33%;
	}

	div.navbox nav {
		background-color: #050810;
		padding: 0;
		border: solid 2px #203766;
	}
}

@container (max-width: 667px) {
	div.subnavbox {
		display: none;
	}
}

@container (min-width: 701px) {
	.header h1 {
		font-size: clamp(0rem, 6vw, 3.8em);	
	}
}

@container (max-width: 700px) {
	.header h1 {
		font-size: clamp(0rem, 5vw, 3.8em);	
	}
}

div.header nav a.navCurrent,
div.header nav a:hover {
	color: #ECECEC;
	-webkit-text-stroke: 1px #4C4AEC;
}

div.navbox nav a,
div.subnavbox nav a {
	color: #7F7F7F;
	-webkit-text-stroke: 1px #29287F;
	font-family: 'ZurichUltraBlackExtended', sans-serif;
	white-space: nowrap;
	margin: 0.5em;
	text-decoration: none;
}

div.subnavbox nav a {
	font-size: 0.9em;
}

/* 
 * MAIN BODY CONTENT
 */

div.mainBody {
	background-color: #081724;
	font-family: 'Verdana', sans-serif;
	color: #CACDFF;
	max-width: 1200px;
	margin: 0 auto;
	border: solid 1px #4C4AEC;
	padding: 1em;
}

h2, h3 {
	color: #ECECEC;
	font-family: 'ZurichUltraBlackExtended';
	margin: 0;
}

h2 {
	font-size: 36pt;
	-webkit-text-stroke: 2px #4C4AEC;
}

h3 {
	font-size: 21pt;
	-webkit-text-stroke: 1px #4C4AEC;
	margin-top: 1em;
	margin-bottom: 0.3em;
	clear: both;
}

h4 {
	font-size: 14pt;
	-webkit-text-stroke: 1px #4C4AEC;
	margin: 1em 0 0;
}

p {
	margin: 0.5em 0;
}

table {
	border-collapse: collapse;
	margin-top: 1em;
}

th, td {
	border: 1px solid #4C4AEC;
	padding: 5px;
}

thead th {
	background-color: #000000bf;
}

tbody th, td {
	background-color: #0000002f;
}

/* 
 * SECTIONS
 */

#psl h3 {
	margin-top: 0.5em;
}

#psl_p,
#psl_div {
	border: solid 1px #067095;
	padding: .5em 1em .7em;
	display: inline-block;
	margin-top: .8em;
	text-shadow: 1px 1px 1px #000000;
	border-radius: 15px;
}

#psl_p {
	max-width: 370px;
	background-color: #023951;
	margin-bottom: 2em;
	float: left;
	white-space: pre-wrap;
}

#psl_div {
	margin-left: 1em;
	background-color: #012433
}

#psl_div h4 {
	color: #CACDFF;
	-webkit-text-stroke: 0;
	font-weight: normal;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

#psl_div p {
	margin-left: 0.5em;
	list-style-type: none;
	padding: .2em;
	color: #ffffff
}

#waa_tr_ratio td,
#waa_tr_ratio th {
	background-color: #0000007f;
}

#sat p {
	clear: both;
}

#sat input[type="checkbox"] {
	accent-color: #FF000D;
	width: 2em;
	height: 2em;
}

#sat .svgContainer {
	height: 7em;
	padding: 0 1em;
	display: block;
	margin: 1em auto;
	border: 2px solid #4C4AEC;
	background-color: #0000002f;
	overflow-x: auto;
	overflow-y: hidden;
	width: 96%;
	max-width: 70vw;
	scrollbar-color: #CACDFF #4C4AEC;
}

#sat .fatterTopBorder td,
#sat .fatterTopBorder th {
	border-top: solid 4px #4C4AEC;
}

#satdiv table {
	float: left;
	margin: 1em;
}

#satdiv table.v090 td,
#satdiv table.v090 th {
	background-color: #FFFF002F;
}

#sat .v090 {
	background-color: #FFFF002F;
	scrollbar-color: #FFFF00 #FF000D;
}

#satTemplateTable {
	display: none;
}

#essdiv img {
	max-height: 40vh;
	border: 2px solid #4C4AEC;
	margin: 0 auto;
	display: block;
}

#sbd_table {
	border-collapse: separate;
	border-spacing: 0;
	border-bottom: solid 1px #4C4AEC;
	border-left: solid 1px #4C4AEC;
}

#sbd_table td,
#sbd_table th {
	border-bottom: none;
	border-left: none;
}

.multiplierActive td,
.multiplierActive th  {
	background-color: #FFFF002F;
}

#sbd_table .sbd_nextarea td {
	border-top: solid 4px #4C4AEC;
}

#sbd_table .sbd_firstOfChapter td {
	border-top: double 10px #4C4AEC;
}

.sbd_button,
.sbd_multiplierText {
	font-family: 'ZurichUltraBlackExtended', sans-serif;
	font-size: 12pt;
	background-color: transparent;
	border: none;
	margin-bottom: -0.8em;
}

.sbd_button {
	color: #CACDFF;
	-webkit-text-stroke: 0;
}

.sbd_button:hover {
	color: #ECECEC;
}

.sbd_multiplierText {
	color: #ECECEC;
	-webkit-text-stroke: 1px #4C4AEC;
}

#sbd_multiplierSpan {
	display: inline-block;
	width: 4em;
	text-align: center;
}

#mapSvgContainer svg {
	border: 1px solid #4C4AEC;
	background-color: #0000002f;
	margin: 0 auto;
	display: block;
}

#popupToolTip {
	position: absolute;
	display: none;
	background-color: #067095;
	border: solid 1px #023951;
	padding: .1em;
}

code {
	border: 1px solid #4C4AEC;
	display: block;
	padding: .5em;
	background-color: #ffffffdf;
	color: #000000;
	margin-top: -0.6em;
	font-size: 1.1em;
}

code .red {
	color: #FF7F7F;
	color: #FF0101;
}

code .orange {
	color: #FFBD7F;
	color: #FF7F01;
}

code .brown {
	color: #BF8D5F;
	color: #804001;
}

code .green {
	color: #5FBF5F;
	color: #017F01;
}

code .fadedgreen {
	color: #8FBF8F;
	color: #417F41;
}

code .teal {
	color: #5EBCBC;
	color: #017F80;
}

code .blue {
	color: #7F7FFF;
	color: #0202FF;
}

code .purple {
	color: #BF5FBF;
	color: #800180;
}

code .magenta {
	color: #FF7FFF;
	color: #FF01FF;
}

/* 
 * FONTS
 */

@font-face {
	font-family: 'BoinkLETPlain';
	src: url('/modules/ss2/fonts/BoinkLETPlain.ttf') format('truetype');
}

@font-face {
	font-family: 'ZurichUltraBlackExtended';
	src: url('/modules/ss2/fonts/ZurichUltraBlackExtended.ttf') format('truetype');
}